@font-face {
    font-family: 'Text';
    src: url('assets/fonts/Lato-Light.ttf');
}
@font-face {
    font-family: 'Text Italic';
    src: url('assets/fonts/Lato-LightItalic.ttf');
}
@font-face {
    font-family: 'Title Bold';
    src: url('assets/fonts/Ubuntu-Bold.ttf');
}
@font-face {
    font-family: 'Title Bold Italic';
    src: url('assets/fonts/Ubuntu-BoldItalic.ttf');
}
@font-face {
    font-family: 'Title Italic';
    src: url('assets/fonts/Ubuntu-Italic.ttf');
}
@font-face {
    font-family: 'Title';
    src: url('assets/fonts/Ubuntu-Regular.ttf');
}
