$text: 'Text';
$text-italic: 'Text Italic';
$title-bold: 'Title Bold';
$title-bold-italic: 'Title Bold Italic';
$title-italic: 'Title Italic';
$title: 'Title';
$transition-fast: 0.2s;
$transition-normal: 0.4s;
$transition-slow: 0.8s;
$elements-padding-bottom: 8px;